* { padding: 0; margin:0; }
body { font-family: Georgia, serif;
       color: #3a3a3a;
       margin: 2em auto;
       width: 80%;
       font-size: 12pt;
       line-height: 1.4em;
}

h1 { font-size: 250%; padding:0.5em; }
h2 { font-size: 180%; padding:0.5em 0; }

form { border: 1px solid gray; padding: 0.5em; font-size: inherit;}
form label { padding: 5px 0;}
form input { font-size:inherit; padding: .3em 1em;}
form select { font-size:inherit; padding: .3em 1em;}

table { width: 95%; margin: 1em auto; border-collapse: collapse;}
th { font-weigt: bold; text-align: center; padding:.5em; border: 1px solid gray; }
td { padding:.5em; border: 1px solid gray; }
td.child { padding-left: 3em; }
tr.default { background: #eee; }

#content {    
    width: 75%;
    
}

#sidebar {
    float:left;
    width: 20%;
}

.clear { clear:both; }


.flash { border:1px solid #eee; font-size:inherit; padding: 1em; margin: 0.5em;
         color: red;
         background: yellow;
         text-align: center;
         font-weight:bold;
        }
#menu { border:1px solid gray; width: 100%; margin:1em auto; float:left;  }

#menu li {
     float: left;
     padding: .5em 2em;
     list-style-type: none;
}

#menu li.right {
    float: right;
}
